.top-bar{    
    display: flex;
    flex-direction: column;
    background-color: #003366;
    width: 100%;
    height: fit-content; 
    padding-bottom: 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45); 
    position: sticky;
    top: 0;
}  


.top-bar-title{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 28px;
} 

.top-bar-title h1{
    margin: 0;
    padding: 0;     
    font-size: clamp(1.5rem, 1.1413rem + 1.1957vw, 2.1875rem);
    line-height: 1.3; 
    color: #FFFFFF; 
    padding-left: 35px;
}


.top-bar-title svg{ 

    width: 145px;
    height: 140px; 
    padding-right: 35px;

}

.top-bar-buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    column-gap: clamp(18px , 45px , 45px);
    display: none;

}

.top-bar-buttons button{
    font-size: clamp(10px, 5vw, 16px);

    display: flex;
    align-items: center;
    text-align: center; 
    border-radius: 4px;
    padding: clamp(5px, 2vw, 10px) clamp(10px, 4vw, 20px);
    border: none;
    cursor: pointer;
    opacity: 0.5;
    cursor:not-allowed;
}

.default-button{ 
    color: #007BFF;  
    background-color: #F2F2F2;
}

.selected-button {
    color: #F2F2F2;  
    background-color: #007BFF;
}

.patient-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    row-gap: 20px;
    align-items: center; 
    margin-bottom: 35px;
}


#back-patient-button{
    width: fit-content;
    padding: 10px 20px;
    background-color: #003366;
    color: #F2F2F2;
    height: fit-content;
    align-self: flex-end;
    justify-self: flex-end;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 26px;
    font-size: 14px;
}


.patient-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    row-gap: 20px;
    align-items: center;
}

.patient-section img{
    width: calc(111px + 35px);
    height: calc(96px + 35px);
    border: 2px solid #003366;
    border-radius: 4px;
}

.patient-section h2{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #000000;
}

.patient-section h5{
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #666666;
}

.medications-action-buttons{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    column-gap: 10px;
}

.medications-action-buttons button{
    width: fit-content;
    padding: clamp(0.4375rem, 0.3397rem + 0.3261vw, 0.625rem) clamp(1rem, 0.8696rem + 0.4348vw, 1.25rem);
    background-color: #003366;
    color: #F2F2F2;
    height: fit-content;
    align-self: flex-end;
    justify-self: flex-end;
    border-radius: 8px;
    cursor: pointer; 
    font-size: clamp(0.75rem, 0.6848rem + 0.2174vw, 0.875rem);
    margin-top: 20px;
}

.medications-table{
    width: 90%;
    margin-top: 20px;
    background-color: #D9D9D9;
}

.medications-table h4{
    margin: 0;
    padding: 0;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    background-color :#003366;
    color:#F2F2F2;
    padding: 10px 0px;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.medication-row-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    align-items: center;
    height: fit-content;
}
 
.medication-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: clamp(0.625rem, 0.462rem + 0.5435vw, 0.9375rem);
    margin-top: 24px;
    background-color: white;
    padding: clamp(0.3125rem, 0.1495rem + 0.5435vw, 0.625rem) 0px;
}


.medication-row p{
    margin : 0;
    padding: 0;
    font-size: 16px;
    color: #000000;
    flex: 1;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden; 
    margin-left: clamp(0.3125rem, -0.1766rem + 1.6304vw, 1.25rem);
    width: 80%; 
}

.medication-row button{
    width: fit-content;
    background-color: #66000C;
    color: #F2F2F2;
    height: fit-content;
    align-self: center;
    justify-self: center;
    border-radius: 4px;
    cursor: pointer;
    font-size: clamp(0.625rem, 0.4946rem + 0.4348vw, 0.875rem);
    padding: clamp(0.125rem, 0.0272rem + 0.3261vw, 0.3125rem) clamp(0.5rem, 0.2717rem + 0.7609vw, 0.9375rem);
    border-radius: 2px;
    border: none;
    margin-right: clamp(0.3125rem, -0.1766rem + 1.6304vw, 1.25rem);
    width: 20%;
}













.once-medication-form{ 
    position: fixed; 
    left: 0px;
    top: 0px;

    background: rgba(139, 137, 137, 0.46);
    width: 100%;
    height: 100svh;

    margin: 0;
    padding: 0; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.once-medication-fill-up-form{
    display: flex;
    width: clamp(18.75rem, 12.2283rem + 21.7391vw, 31.25rem);
    height: fit-content;  
    flex-direction: column;
    justify-content: center; 
    background-color: #003366; 
    border-radius: 8px;
    align-items: center;
}

.once-medication-fill-up-form h3{
    font-size: 28px;
    color: #F2F2F2;
    margin: 0;
    margin-top: 35px;
}

.once-medication-information{
    text-align: center;
    margin: 0;
    margin-top: 34px;
    width: 70%;
    font-size: 18px;
    color: #F2F2F2;
    margin-bottom: 20px;
}

.once-medication-fill-line{
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 16px;
}

.once-medication-fill-line label{
    color: #F2F2F2;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.once-medication-fill-line input , .once-medication-fill-line select{
    padding-left: 10px;
    width: 80%;
    margin-left: 25px;
    background-color: #F2F2F2;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
}



.form-action-buttons{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.form-action-buttons button{
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    padding: 15px 25px;
}

.form-action-buttons button:nth-child(1){
    background-color: #66000C;
    color: #F2F2F2;
}

.form-action-buttons button:nth-child(2){
    background-color: #007BFF ;
    color: #F2F2F2;
}













.daily-medication-form{ 
    position: fixed; 
    left: 0px;
    top: 0px;

    background: rgba(139, 137, 137, 0.46);
    width: 100%;
    height: 100svh;

    margin: 0;
    padding: 0; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.daily-medication-fill-up-form{
    display: flex;
    width: clamp(18.75rem, 12.2283rem + 21.7391vw, 31.25rem);
    height: fit-content;  
    flex-direction: column;
    justify-content: center; 
    background-color: #003366; 
    border-radius: 8px;
    align-items: center;
}

.daily-medication-fill-up-form h3{
    font-size: 28px;
    color: #F2F2F2;
    margin: 0;
    margin-top: 35px;
}

.daily-medication-information{
    text-align: center;
    margin: 0;
    margin-top: 34px;
    width: 70%;
    font-size: 18px;
    color: #F2F2F2;
    margin-bottom: 20px;
}

.daily-medication-fill-line{
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 16px;
}

.daily-medication-fill-line label{
    color: #F2F2F2;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.daily-medication-fill-line input , .daily-medication-fill-line select{
    padding-left: 10px;
    width: 80%;
    margin-left: 25px;
    background-color: #F2F2F2;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
}


 

.border-is-red{
    border: 4px solid red !important;
}

.border-is-blue{
    border: 4px solid blue !important;
}

.border-is-yellow{
    border: 4px solid yellow !important;
}


#datePicker{
    width: fit-content;
    padding: clamp(0.4375rem, 0.3397rem + 0.3261vw, 0.625rem) clamp(1rem, 0.8696rem + 0.4348vw, 1.25rem);
    background-color: #003366;
    color: #F2F2F2;
    height: fit-content;
    align-self: flex-end;
    justify-self: flex-end;
    border-radius: 8px;
    cursor: pointer; 
    font-size: clamp(0.75rem, 0.6848rem + 0.2174vw, 0.875rem);
    margin-top: 20px;
    color-scheme: light;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%); /* Makes the calendar icon white */
}